<div class="row" *ngIf="state">
  <div class="col-3"></div>
  <div class="col-6">
    <div class="mb-3">
      <label for="Password" class="form-label">Password</label>
      <input type="password" class="form-control" id="Password" placeholder="Şifrenizi giriniz" #txtPassword>

    </div>
      <div class="mb-3">
      <label for="PasswordConfirm" class="form-label">Password Confirm</label>
      <input type="password" class="form-control" id="PasswordConfirm" placeholder="Şifrenizi tekrar giriniz" #txtPasswordConfirm>
      <button type="button" class="btn btn-primary" style="margin-top: 5px;" (click)="updatePassword(txtPassword.value,txtPasswordConfirm.value)">Güncelle</button>
    </div>
  </div>
  <div class="col-3"></div>
</div>
<div class="alert alert-danger" role="alert" *ngIf="!state">
  Bu link kullanılmamaktır.
</div>
