<!-- Modal -->
<div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Sepet</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Ürün Adı</th>
              <th scope="col">Fiyatı</th>
              <th scope="col">Adet</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr class="{{basketitem.basketItemId}}" *ngFor="let basketitem of basketItems;let i=index">
              <th scope="row">{{i+1}}</th>
              <td>{{basketitem.name}}</td>
              <td>{{basketitem.price}}</td>
              <td>
                <input type="number" [value]="basketitem.quantity" style="width: 60px;" data-id="{{basketitem.basketItemId}}" (change)="changeQuantity($event)">
              </td>
              <td>  <button type="button" class="btn btn-danger" (click)="removeBasketItem(basketitem.basketItemId)">X</button></td>
            </tr>

          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Kapat</button>
        <button type="button" class="btn btn-success">Alışverişi Tamamla</button>
      </div>
    </div>
  </div>
</div>
